.file-item {
	margin-bottom: 20px;
	border: 2px solid #e5e5e5;
	padding: 20px 30px;
	.img {
		width: 100%;
	}
	.no-image-wrapper {
		display: flex;
		justify-content: space-between;
		padding: 5px 50px;
		align-items: center;
	}
	.download-link {
		display: block;
	}
}