.modal {
	width: 60vw;
	height: 80vh;
	background-color: #fff;
	border-radius: 10px;
	position: relative;
	.close {
		position: absolute;
		right: 10px;
		top: 10px;
		color: rgba(0, 0, 0, 0.5);
		cursor: pointer;
	}
}